
body{
    background-image: url(beans.jpg);
    margin: 8px; 
    font-family: sans-serif;
    padding: 20px;
}
#container{
    background-color: burlywood;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 80%; 
    max-width: 500px;
    padding: 20px;
}
#Esta{
    font-style:italic;
}
hr{
    color: brown;
    background-color:brown;
    height: 3px;
    border-color: brown;
}
ul{
    list-style: none;
}
#cafeimg{
    margin-top:-5px;
}
h1{
    font-family: Impact,serif;
}
h2{
    margin-bottom:1px;
    font-family: Impact,serif;
}
article,p{
   margin-top: -5px;
}
.name,.price{
    display: inline-block;
}
.name{
    width: 70%;
    text-align: left;
}
.price{
    width: 29%;
    text-align: right;

}
#imagecake{
    margin-top: -5px;
}
section,p{
    margin-top: -5px;
}
a:hover{
    color: brown;
    cursor: pointer;
    text-decoration: underline;
}

footer{
    font-size: 14px;
    margin-top: 10px;
}